- provide(:title, 'About')
%h1 About Us
%p inspectX simplifies your used car search. Our expert, user-reviewed mechanics work full-time in the automotive field and are capable of providing you with a thorough look at a vehicle’s cosmetic and mechanical condition before you buy. Our comprehensive 150-point inspection checklist ensures that every vehicle system is diligently examined. And our innovative pricing marketplace means that brand-specialized mechanics compete for your business.

%p Experience inspectX-certified peace of mind before your next purchase.

