%h1 Test Api
%form
  %label Make 
  %input{type: 'text', name: 'make', value: params[:make]}
  %br
  %label Model 
  %input{type: 'text', name: 'model', value: params[:model]}
  %br
  %label Year 
  %input{type: 'text', name: 'year', value: params[:year]}
  %br

  %br
  %button Submit
  = link_to 'Clear', root_path
%ul
  - @form.response.each do |itm|
    %li 
      = itm


