- provide(:title, 'Contact')

%h1 Streamlined. Expert. Thorough.

%p.center Finding a trustworthy, specialized mechanic for a pre-purchase inspection has never been easier.

.list
  .row
    .col-md-1
      .num
        1
    .col-md-11
      .cont
        = link_to 'Create', new_member_path
        and confirm an account.


- @account_items.each_with_index do |ai, i|
  .list
    .row
      .col-md-1
        .num
          = i + 2
      .col-md-11
        .cont
          = ai
