%p
  Hi admins,
%p
  Mechanic #{@mechanic.name} requests approval.
%p
  = link_to 'View member profile', mechanic_url(@mechanic.id)
%p
  = link_to 'Approve', approve_account_activation_url(@mechanic.activation_token, email: @mechanic.email)
