%p
  Hi admins,
%p
  Mechanic #{@mechanic.name} requests the following profile revisions.
%p
  Show the before and after fields here.
  / = link_to 'View profile', mechanic_url(@mechanic.id)
%p
  Link to update mechanic's profile.
  / = link_to 'Approve', approve_account_activation_url(@mechanic.activation_token, email: @mechanic.email)
