%p
  Hi #{@mechanic.name},
%p
  Welcome to InspectX! 
  Click on the link below to submit your profile for review.
  You will be notified again once your account is approved.
%p
  = link_to 'Activate', root_url
