%p
  Hi There,
%p
  #{@user.name} requested a pre-purchase inspection on your
  #{@appointment.vehicle_year} #{@appointment.vehicle_make} #{@appointment.vehicle_model}.
%p
  The requested date is:
  #{@appointment.start.try(:strftime, '%B %d, %Y at %H:%m %p')}
%p
  The requested location is:
  #{@appointment.location}
%p
  Click
  = link_to 'Approve', mechanic_appointment_seller_approve_path(@appointment.mechanic, @appointment)
  to approve the request or
  = link_to 'Deny', mechanic_appointment_seller_deny_path(@appointment.mechanic, @appointment)
  to deny the request

%p
  Sincerely,

%p
  The Inspectx Team
