%tr.clickable.accordian-toggle
  %td
    .appointment__table-button.collapsed(data-target='##{acc_base}-#{row_id}' data-toggle='collapse')
      .glyphicon.glyphicon-chevron-right.appointment__table-button--plus
  %td
    =appointment.member.try(:name)
  %td
    =appointment.start.try(:strftime, '%B %d, %Y at %H:%m %p')
  %td
    =appointment.vehicle_year
  %td
    =appointment.vehicle_make
  %td
    =appointment.vehicle_model
  - if show_actions
    %td
      %a.btn.btn-success.btn-circle(type='button' href='#{mechanic_appointment_approve_path(@user, appointment)}')
        %i.glyphicon.glyphicon-ok
      %a.btn.btn-danger.btn-circle(type='button' href='#{mechanic_appointment_deny_path(@user, appointment)}')
        %i.glyphicon.glyphicon-remove
%tr
  %td(colspan=7)
    .collapse(id='#{acc_base}-#{row_id}')
      - if type == 'pending'
        .alert.alert-warning
          = appointment.pending_status
      .row
        .col-md-3
          = gravatar_for(appointment.member)
          = appointment.member.name
        .col-md-9
          %p
            Seller Email: #{appointment.seller_email}
          %p
            Location: #{appointment.location}
          %p
            Notes:
          .well
            = appointment.notes



