.row.mechanic__index--mechanic
  .col-md-2
    = gravatar_for mechanic, 'gravatar-lg'
    .mechanic__index--name
      = link_to mechanic.name, mechanic
  .col-md-8
    .mechanic__index--title
      Bio
    .mechanic__index--bio
      = mechanic.mechanic_profile.bio
    .row
      .col-md-10
        .mechanic__index--specialties
          Specialites:
        = mechanic.specialties.map {|spec| spec.vehicle_make + " " + spec.vehicle_model}.join(', ')
  .col-md-2.mechanic__price
    $ #{mechanic.mechanic_profile.cost} USD
