.panel.panel-primary
  .panel-heading
    = title
    - if appointments.count > 0 && show_badge
      %span.badge
        = appointments.count
  %table.table
    %thead
      %trow
        %th
        %th
          Member
        %th
          Time
        %th
          Year
        %th
          Make
        %th
          Model
        -if show_actions
          %th
            Approve?
      %tbody
        -appointments.each do |appointment|
          = render(partial: 'mechanic_appointment', locals: {row_id: appointment.id, appointment: appointment, acc_base: acc_base, show_actions: show_actions, type: type})
