- provide(:title, "Edit mechanic")
%h1 Update your profile
.row
  .col-md-4.col-md-offset-4
    = form_for(@user) do |f|
      = render(partial: 'shared/error_messages', locals: {object: @user})
      = f.label :name
      = f.text_field :name, class: 'form-control'
      = f.label :email
      = f.email_field :email, class: 'form-control'
      = f.label :password
      = f.password_field :password, class: 'form-control'
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation, class: 'form-control'
      = f.submit "Save changes", class: "btn btn-primary"
    .gravatar.gravatar_edit
      = gravatar_for @user
      %a{:href => "http://gravatar.com/emails", :target => "_blank"} change
