- content_for :footer do
  = javascript_include_tag 'car_query_on_ready.js'
  = javascript_include_tag 'car_query'

= render 'shared/mech_search_form'

- if params[:zip].present?
  %h2 Your Local Mechanics Serving #{params[:zip]}

- if @mechanics.present?
  .mechanics
    = render @mechanics
- elsif params[:zip]
  .panel.panel-danger
    .panel-heading
      .glyphicon.glyphicon-remove-sign
      Whoops!
    .panel-body
      It looks like your search returned no results. Try refining your search.
- else
  .panel.panel-warning
    .panel-heading
      .glyphicon.glyphicon-search
      So you're looking for a mechanic?
    .panel-body
      Use the above search form to find mechanics in your area
= will_paginate
