- provide(:title, 'Sign up')
- content_for :footer do
 /= javascript_include_tag 'car_query_on_ready_mechanics.js'
 /= javascript_include_tag 'car_query'

%h1 Apply to be a Mechanic

= form_for(@user) do |f|
  .row
    .col-md-4.col-md-offset-4
      = render(partial: 'shared/error_messages', locals: {object: @user})
  .row
    .col-md-4.col-md-offset-2
      %h2 Account Information

      = f.label :name
      = f.text_field :name, class: 'form-control'

      = f.label :email
      = f.email_field :email, class: 'form-control'

      = f.label :password
      = f.password_field :password, class: 'form-control'

      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation, class: 'form-control'

      %h2 Address Information

      = f.fields_for :address_attributes do |ff|
        = ff.label :street
        = ff.text_field :street, class: 'form-control'

        = ff.label :city
        = ff.text_field :city, class: 'form-control'

        = ff.label :state
        = ff.text_field :state, class: 'form-control'

        = ff.label :zip
        = ff.text_field :zip, class: 'form-control'

    .col-md-4
      %h2 Profile Information

      = f.fields_for :mechanic_profile_attributes do |ff|
        = ff.label :school
        = ff.text_field :school, class: 'form-control'

        = ff.label :work
        = ff.text_field :work, class: 'form-control'

        = ff.label :bio
        = ff.text_area :bio, class: 'form-control'

        = ff.label :cost, 'Price for Service'
        = ff.number_field :cost, class: 'form-control'

      %h2 Auto Specialties
      %h5 Specialty 1

     




      = f.submit "Register", class: "btn btn-primary"
