.row.mechanic__show--container
  .col-md-1
  .col-md-3
    = gravatar_for @user, 'mechanic__sidebar--image'
    .mechanic__sidebar--booking
    - if current_user.is_a? Member
      %a.btn.btn-primary.btn-md.mechanic__booking--button(href='#{new_mechanic_appointment_path(@user)}')
        .glyphicon.glyphicon-calendar
        Book an appointment

    .panel.panel-default.mechanic__about
      .panel-heading About Me
      .panel-body
        .mechanic__about--title School
        = @user.mechanic_profile.school
        .mechanic__about--title Work
        = @user.mechanic_profile.work

        - unless @user.mechanic_profile.try(:languages).blank?
          .mechanic__about--title Languages
          = @user.mechanic_profile.languages.join(', ')

  .col-md-7.mechanic__main--container
    .row
      .col-md-12
        .mechanic__heading
          = @user.name
        .mechanic__subheading--location
          #{@user.address.city}, #{@user.address.state}, United States · Member since #{@user.created_at.strftime('%B %Y')}
        .mechanic__subheading--certified
          .certified__icon.glyphicon.glyphicon-ok-circle
          .certified__text InspectX Certified
    .row
      .col-md-12
        .mechanic__bio
          = @user.mechanic_profile.bio
    .row
      .col-md-12
        .mechanic__index--specialties
          Specialties:
        = @user.specialties.map {|spec| spec.vehicle_make}.join(', ')
    - if current_user == @user
      .row
        .col-md-16
          = link_to 'Update my profile', edit_mechanic_path
          = render(partial: 'mechanic_appointments', locals: {appointments: @appointments.current, title: 'Current Appointments', acc_base: 'current_appointments', show_actions: false, show_badge: true, type: 'current'})
          = render(partial: 'mechanic_appointments', locals: {appointments: @appointments.pending, title: 'Pending Appointments', acc_base: 'pending_appointments', show_actions: true, show_badge: true, type: 'pending'})
          = render(partial: 'mechanic_appointments', locals: {appointments: @appointments.archived, title: 'Archived Appointments', acc_base: 'archived_appointments', show_actions: false, show_badge: false, type: 'archived'})

    .row
      .col-md-12
        .mechanic__reviews--container
          .mechanic__review--heading
            .mechanic__reviews--heading-title Reviews
            .mechanic__reviews--heading-count (#{@user.ratings.count})
          .mechanic__reviews--sub-heading
            Reviews from Customers
          - @user.ratings.each do |rating|
            .mechanic__review
              .row
                .col-md-2
                  .mechanic__review--image
                    = gravatar_for rating.member
                .col-md-8
                  .rating
                    - (1..(rating.rating)).each do |r|
                      %span★
                  = rating.description
