%form(action='/mechanics' data-method='get')
  .row
    .col-md-6.col-md-offset-3
      %input.form-control(name="zip" placeholder="Zip Code" type="text")
      %select.year-select(name="year")
        %option(value="" selected)Year
        - (1990...2016).each do |yr|
          %option(value="#{yr}")= yr
      %select.make-select(name="make")
        %option(value="" selected)---
      %button.btn.btn-primary.mech-search-btn(type="submit")Find a Mechanic