// import bootstrap-sprockets before bootstrap if using bootstrap >= 3.2
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-box-title: #edefed;
$green: rgb(123, 190, 123);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* bootstrap extensions */

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


/* universal */

.main-container {
  padding-top: 20px;
}

body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.gravatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  border: 1px solid $gray-light;
}

.gravatar-lg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  border: 1px solid $gray-light;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0px !important;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #1FE200;
    text-decoration: none;
  }
}

.heading__x {
  text-decoration: none !important;
  margin-left: -5px;
}

/* footer */

footer {
  margin-top: 45px;
  padding: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.gravatar_edit {
  padding-top: 10px;
}

/* Home */

.overlay__head {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 1000;
}

.overlay {
  position: relative;
  margin-top: -53%;
  display: block;
  h1 {
    margin-bottom: 10px;
  }
}

.home__zip {
  display: inline-block;
  width: 15%;
  height: 40px !important;
}

.home__car {
  display: inline-block;
  height: 40px;
}

.home__car--years {
  width: 15%;
}

.home__car--makes {
  width: 25%;
}

.home__car--models {
    width: 27%;
}

.home__car--trims {
  width: 15%;
}

.home__header {
  color: $green;
  font-size: 50px;
}

.mechanic__search--button {
  height: 40px;
  width: 100%
}

.home__container {
  display: block;
  height: 700px;
  overflow-y: hidden;
}

.main-img {
  -webkit-filter: grayscale(100%);
}

.home__container:hover .main-img {
   -webkit-filter: grayscale(90%);
}

.main-img {
  width: 100%;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

/* How it works */

.num {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #40A530;
  text-align: center;
  border-radius: 50%;
  color: white;
  background-color: #40A530;
  margin-left: 75%;
}

.cont {
  width: 95%;
  color: #40A530;
  font-size: 18px;
}

/* Member Show */

.member__show--container {
  margin-top: 35px;
}

.member__sidebar {
  padding-left: 30px;
  padding-right: 30px;
}

.member__main--container {
  padding-left: 30px;
}

.member__heading {
  font-size: 44px;
}

/* Mechanics index */

.mechanics {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.mechanic__index--name {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: -25px;
  background-color: rgba(69, 69, 69, .9);
  position: relative;
  height: 25px;
  a {
    color: $gray-lighter;
    vertical-align: middle;
  }
}

.mechanic__index--mechanic {
  padding: 20px;
  border-bottom: 1px solid $gray-light;
}

.mechanic__price {
  font-size: 30px;
  color: $gray;
}

.mechanic__index--title {
  font-weight: bold;
  font-size: 18px;
  color: $gray-darker;
}

.mechanic__index--bio {
  color: $gray;
}

.mechanic__index--specialties {
  font-weight: bold;
}

/* Certification Icons */

.mechanic__subheading--certified {
  margin-top: 5px;
  font-size: 15px;
}

.certified__icon {
  color: rgb(102, 155, 93);
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}

.certified__text {
  display: inline-block;
  vertical-align: middle;
}

/* Mechanics show */

.mechanic__show--container {
  margin-top: 35px;
}

.mechanic__sidebar {
  padding-left: 30px;
  padding-right: 30px;
}

.mechanic__sidebar--image {
  width: 100%
}

.mechanic__sidebar--booking {
  padding-top: 15px;
}

.mechanic__booking--button {
  display: block;
}

.mechanic__about {
  margin-top: 20px;
}

.mechanic__about--title {
  font-weight: bold;
}

.mechanic__heading {
  font-size: 44px;
}

.mechanic__subheading--location {
  display: inline-block;
  font-size: 18px;
}

.mechanic__main--container {
  padding-left: 30px;
}

.mechanic__bio {
  padding-top: 25px;
  padding-bottom: 25px;
}

.mechanic__reviews--heading-title{
  display: inline-block;
  font-size: 30px;
}

.mechanic__reviews--heading-count {
  display: inline-block;
  font-size: 20px;
  color: $gray-light;
}

.mechanic__reviews--sub-heading {
  font-size: 20px;
}

.mechanic__review {
  padding-top: 20px;
  padding-bottom: 10px
}

.mechanic__review--image {
  margin: 0 auto;
}

 /* Mechanics Appointments */

 .appointment__table-button {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 5px;

 }

 .appointment__table-button--plus {
  padding-left: 2px;
  transform: rotate(90deg);
 }

.collapsed {
  .appointment__table-button--plus {
     transform: rotate(0deg);
   }
}
