- provide(:title, 'Appointment')

%h1 Schedule an Appointment
.row
  .col-md-4.col-md-offset-4
    = form_for [@mechanic, @appointment] do |f|
      = render(partial: 'shared/error_messages', locals: {object: @appointment})
      = f.label :start, "Appointment Time"
      .form-group
        #datetimepicker1.input-group.date
          = f.datetime_local_field :start, class: 'form-control'
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar


      = f.label :seller_email
      = f.email_field :seller_email, class: 'form-control'

      = f.label :location
      = f.text_field :location, class: 'form-control'

      = f.label :vehicle_year
      = f.text_field :vehicle_year, class: 'form-control'

      = f.label :vehicle_make
      = f.text_field :vehicle_make, class: 'form-control'

      = f.label :vehicle_model
      = f.text_field :vehicle_model, class: 'form-control'

      = f.label :notes
      = f.text_area :notes, class: 'form-control'

      = f.submit "Schedule Appointment", class: "btn btn-primary"

