%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    %a#logo(href='#{root_path}')
      Inspect
      %sub.heading__x
        x
    -# =link_to 'inspectx', root_path, id: 'logo'
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to 'Home', root_path
          %li= link_to 'How it works', how_it_works_path
          %li= link_to 'Find a Mechanic', mechanics_path
        - if logged_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Account
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Profile", current_user
              - if current_user.is_a? Member
                %li= link_to "Settings", edit_member_path(current_user)
              - if current_user.is_a? Mechanic
                %li= link_to "Settings", edit_mechanic_path(current_user)
              %li.divider
              %li= link_to "Log out", logout_path, method: "delete"
        - else
          %li= link_to "Log in", login_path



