!!!
%html
  %head
    %title
      = full_title(yield(:title))
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield(:head)
  %body
    = render 'layouts/navbar'
    = yield(:no_container)

    .container.main-container
      - unless @no_container
        - flash.each do |message_type, message|
          %div{:class => "alert alert-#{message_type}"}= message
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
      = yield(:footer)
