
%div(class="panel panel-#{status}")
  .panel-heading
    = title
    - if appointments.count > 0 && show_badge
      %span.badge
        = appointments.count
  %table.table
    %thead
      %trow
        %th
        %th
          Member
        %th
          Time
        %th
          Year
        %th
          Make
        %th
          Model
      %tbody
        -appointments.each do |appointment|
          = render(partial: 'member_appointment', locals: {row_id: appointment.id, appointment: appointment, acc_base: acc_base, type: type})
