- provide(:title, 'Sign up')
%h1 Sign up
.row
  .col-md-4.col-md-offset-4
    = form_for(@user) do |f|
      = render(partial: 'shared/error_messages', locals: {object: @user})

      = f.label :name
      = f.text_field :name, class: 'form-control'

      = f.label :email
      = f.email_field :email, class: 'form-control'

      = f.label :password
      = f.password_field :password, class: 'form-control'

      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation, class: 'form-control'

      = f.submit "Create my account", class: "btn btn-primary"
