- provide(:title, @user.name)
.row.member__show--container
  .col-md-1
  .col-md-3.member__sidebar
    = gravatar_for @user, 'mechanic__sidebar--image'

  .col-md-7.member__main--container
    .row
      .col-md-12
        .member__heading
          = @user.name
    .row
      .col-md-16
        = render(partial: 'member_appointments', locals: {appointments: @appointments.current, title: 'Current Appointments', acc_base: 'current_appointments', show_badge: true, type: 'current', status: 'success'})
        = render(partial: 'member_appointments', locals: {appointments: @appointments.pending, title: 'Pending Appointments', acc_base: 'pending_appointments', show_badge: true, type: 'pending', status: 'danger'})
        = render(partial: 'member_appointments', locals: {appointments: @appointments.archived, title: 'Archived Appointments', acc_base: 'archived_appointments', show_badge: false, type: 'archived', status: 'warning'})
